body {
    background: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

.menu {
    height: 60px;
    background-color: #303030;
    width: 100%;
}
.logo {
    position: absolute;
    text-decoration: none;
    top:13px;
    left:20px;
    font-size: 22px;
    font-weight: 200;
    color: #6bc6a3;
}
.logo:hover {
}
.item {
    list-style-type: none;
    float: right;
    margin-left: auto;
    margin-right: auto;
}
.item a {
    font-family: Verdana;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px;
    margin-right: 15px;
    margin-top: 14px;
    text-decoration: none;
    color: lightgray;
    font-size: 13px;
    transition: all .2s ease-in-out;
}

.item a:hover {
    transform: scale(1.05);
    color: #6bc6a3;
    border-bottom: 4px solid #6bc6a3;
}
.lista {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right:auto;
}
.text {
    text-align: center;
    padding: 20px 20px 40px 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 2%;
}

.text a {
    color: black;
}
.headerbig {
    color: black;
}
.headersmall {
    color: black;
}
