body {
    background: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    position: absolute;
    top:20px;
    left:20px;
    font-size: 25px;
    font-weight: 200;
}
.item {
    list-style-type: none;
    float: right;
    margin-left: auto;
    margin-right: auto;
}
.item a {
    display: block;
    width: 120px;
    padding: 10px;
    text-decoration: none;
    color: #7487a5;
}

.item a:hover {
    color: black;
}
.lista {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right:auto;
}
.text {
    text-align: center;
}